<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	
	<!--css読み込み-->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/common.css">
	
	<!--js読み込み-->
	<script src="js/jquery-3.5.1.min.js"></script>
</head>

<body>
<div id="page" class="site"><!--ページ全体-->

<!--ヘッダー-->
<header id="pagehead">

	<!--ナビゲーション-->
	<nav id="global-nav">
	<ul class="nav-list">
		<li><a href="#"></a></li>
		<li><a href="#"></a></li>
		<li><a href="#"></a></li>
		<li><a href="#"></a></li>
		</ul>
	</nav>
	
	<!--ページタイトル-->
	<h1 class="pageTitle"></h1>
	<p class="pageSubTitle"></p>
	
</header>

<!--コンテンツ1-->
<section id="">
	<div class="content-head">
		<!--コンテンツのタイトル-->
		<h2 class="content-Title "></h2>
		<!--imageテンプレート-->
		<img src="image/" alt="" class="">
	</div>

	<div class="">

	</div>
</section>

<!--コンテンツ2-->
<section id="">
	<div class="content-head">
		<!--コンテンツのタイトル-->
		<h2 class="content-Title "></h2>
	</div>

	<div class="">

	</div>
</section>

<!--コンテンツ3-->
<section id="">
	<div class="content-head">
		<!--コンテンツのタイトル-->
		<h2 class="content-Title "></h2>
	</div>

	<div class="">

	</div>
</section>
	
<!--フッター-->
<footer id="pagefoot">
	<div class="footer-nav">
		<!--ナビゲーション-->
		<nav class="footer-nav-list">
		<ul>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
		</ul>
		</nav>
	</div>

	<!--コピーライト記述-->
	<p id="copyright"><small>Copyright&copy; </small></p>

</footer>

</div><!-- #page -->
</body>
</html>